html, body { font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif'; }

.loading-progress {
	display: block;
	height: 8rem;
	margin: 20vh auto 1rem auto;
	position: relative;
	width: 8rem;
}

.loading-progress circle {
	fill: none;
	stroke: #e0e0e0;
	stroke-width: 0.6rem;
	transform: rotate(-90deg);
	transform-origin: 50% 50%;
}

.loading-progress circle:last-child {
	stroke: rgba(168, 57, 0, 1);
	stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
	transition: stroke-dasharray 0.05s ease-in-out;
}

.loading-progress-text {
	font-weight: bold;
	inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
	position: absolute;
	text-align: center;
}

.loading-progress-text:after { content: var(--blazor-load-percentage-text, "Loading Rocket Explorer"); }

.chart-single { width: 400px; }

.chart-double { width: 400px; }

@media (min-width: 650px) {
	.chart-double { width: 600px; }
}

@media (min-width: 960px) {
	.mud-main-content .chart-single,
	.mud-main-content .chart-double { width: 600px; }
}

@media (min-width: 1248px) {
	.mud-drawer-close-responsive-md-left .mud-main-content .chart-double { width: 1200px; }
}

@media (min-width: 1440px) {
	.mud-drawer-open-responsive-md-left .mud-main-content .chart-double { width: 1200px; }
}

mark {
	background-color: var(--mark-background-color);
	color: var(--mark-color);
}

.mud-toggle-group * { text-transform: none; }

.mud-toggle-group-selected {
	background-color: var(--mud-palette-primary-hover) !important;
	color: var(--mud-palette-primary) !important;
}

.table-group-header { background-color: var(--mud-palette-primary-container); }

.table-group-header .mud-table-cell { color: var(--mud-palette-on-primary-container) !important; }

.button-expandable { transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1), transform 660ms ease !important; }

.button-expanded { transform: rotate(180deg); }

.button-collapsed { transform: rotate(0); }

.mud-layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.footer { margin-bottom: 8px; }

.mud-drawer-open-responsive-md-left .footer { margin-left: var(--mud-drawer-width-left); }