@page "/"
@using Nethereum.Util
@inherits PageBase<RocketExplorer.Shared.DashboardSnapshot>

<PageTitle>Rocket Explorer - Home</PageTitle>

<MudStack Spacing="3">

	<MudText Typo="Typo.h1">Welcome to Rocket Explorer</MudText>

	<MudText>
		Rocket Explorer is an open-source community project for analyzing and visualizing the decentralized <MudLink Href="https://rocketpool.net" Target="_blank">Rocket Pool</MudLink> network.
	</MudText>

	<MudText>
		It is inspired by <b>rocketscan.io</b>, which is no longer actively maintained, and builds on ideas shared by the Rocket Pool community.
		The project offers insight into the Rocket Pool network, with a focus on the upcoming Saturn release, which builds on the <MudLink Href="https://rpl.rehab" Target="_blank">tokenomics rework</MudLink>.
	</MudText>

	<MudText>
		For questions, feedback, or suggestions, feel free to join the discussion on <MudLink Href="https://discord.gg/rocketpool" Target="_blank">Discord <MudIcon Icon="@Icons.Custom.Brands.Discord" Color="Color.Primary" Style="vertical-align: text-bottom" /></MudLink>
	</MudText>

	<MudText>
		The information displayed on Rocket Explorer is provided for informational purposes only.<br />
		While efforts are made to ensure accuracy, data may be incomplete, outdated, or subject to change.
	</MudText>

	<MudText Typo="Typo.h2" Class="mud-typography-h3 mt-8">Dashboard</MudText>

	<MudGrid>
		<MudItem xs="12" sm="6" lg="4">
			<MudPaper Elevation="0" Class="pa-8" Style="background-color: var(--mud-palette-surface-container)">
				<div class="mud-typography-h6 mud-typography-align-center">RETH Supply</div>
				<div class="mud-typography-h2 mud-typography-align-center">@UnitConversion.Convert.FromWei(Snapshot?.Data.RETHTotalSupply ?? 0, 18).ToString("N2")</div>
			</MudPaper>
		</MudItem>
		<MudItem xs="12" sm="6" lg="4">
			<MudPaper Elevation="0" Class="pa-8" Style="background-color: var(--mud-palette-surface-container)">
				<div class="mud-typography-h6 mud-typography-align-center">RPL Supply</div>
				<div class="mud-typography-h2 mud-typography-align-center">@UnitConversion.Convert.FromWei(Snapshot?.Data.RPLTotalSupply ?? 0, 18).ToString("N2")</div>
			</MudPaper>
		</MudItem>
		<MudItem xs="12" sm="6" lg="4">
			<MudPaper Elevation="0" Class="pa-8" Style="background-color: var(--mud-palette-surface-container)">
				<div class="mud-typography-h6 mud-typography-align-center">Total node operators</div>
				<div class="mud-typography-h2 mud-typography-align-center">@Snapshot?.Data.NodeOperators</div>
			</MudPaper>
		</MudItem>
		<MudItem xs="12" sm="6" lg="4">
			<MudPaper Elevation="0" Class="pa-8" Style="background-color: var(--mud-palette-surface-container)">
				<div class="mud-typography-h6 mud-typography-align-center">Queue Length</div>
				<div class="mud-typography-h2 mud-typography-align-center">@Snapshot?.Data.QueueLength</div>
			</MudPaper>
		</MudItem>
		<MudItem xs="12" sm="6" lg="4">
			<MudPaper Elevation="0" Class="pa-8" Style="background-color: var(--mud-palette-surface-container)">
				<div class="mud-typography-h6 mud-typography-align-center">Staking minipool validators</div>
				<div class="mud-typography-h2 mud-typography-align-center">@Snapshot?.Data.MinipoolValidatorsStaking</div>
			</MudPaper>
		</MudItem>
		<MudItem xs="12" sm="6" lg="4">
			<MudPaper Elevation="0" Class="pa-8" Style="background-color: var(--mud-palette-surface-container)">
				<div class="mud-typography-h6 mud-typography-align-center">Staking megapool validators</div>
				<div class="mud-typography-h2 mud-typography-align-center">@Snapshot?.Data.MegapoolValidatorsStaking</div>
			</MudPaper>
		</MudItem>
	</MudGrid>
</MudStack>

@code
{
	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		ObjectStoreKey = "dashboard-snapshot.msgpack";
	}

	protected override Task OnAfterSnapshotLoadedAsync(CancellationToken cancellationToken = default)
		=> Task.CompletedTask;
}