@if (AppState.CurrentBlock != null)
{
	<div Class="footer">
		<MudContainer MaxWidth="MaxWidth.Large">
			<MudText Typo="Typo.body2" Style="color: var(--mud-palette-text-secondary)" Align="Align.Right">Last processed block: @AppState.ProcessedBlockNumber (@(AppState.BlockDifference == 0 ? "up to date" : $"{AppState.BlockDifference} blocks ago"))</MudText>
		</MudContainer>
	</div>
}

@code {

	private string ObjectStoreMetadataUrl => $"{Configuration.ObjectStoreBaseUrl}/snapshot-metadata.msgpack";

}