<div class="mud-typography-h6 mud-typography-align-center">
	@Title <MudIconButton Icon="@Icons.Material.Filled.KeyboardArrowLeft" Class="@ExpandableButtonClass" Size="Size.Medium" Color="Color.Primary" OnClick="ToggleExpanded" />
</div>
<MudText Typo="Typo.subtitle2" Align="Align.Center">@TimeRange</MudText>

<div class="@(Expanded ? "chart-double" : "chart-single")">
	@ChildContent
</div>
<div class="d-flex justify-center">
	<MudToggleGroup Size="Size.Small" T="ChartAggregation" SelectionMode="SelectionMode.SingleSelection" Color="Color.Secondary" Value="Aggregation" ValueChanged="SetAggregation" CheckMark FixedContent="true">
		<MudToggleItem Value="ChartAggregation.Daily" Text="Daily" />
		<MudToggleItem Value="ChartAggregation.Monthly" Text="Monthly" />
		<MudToggleItem Value="ChartAggregation.Yearly" Text="Yearly" />
	</MudToggleGroup>
</div>

@code
{
	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	[Parameter]
	public SortedList<DateOnly, int>? Data { get; set; } = [];

	[Parameter]
	public string? Title { get; set; }

	[Parameter]
	public string? YAxesName { get; set; }

	[Parameter]
	public ChartAggregation Aggregation { get; set; }

	[Parameter]
	public bool Expanded { get; set; }

	[Parameter]
	public EventCallback<ChartAggregation> AggregationChanged { get; set; }

	[Parameter]
	public EventCallback<bool> ExpandedChanged { get; set; }

	private async Task SetAggregation(ChartAggregation value)
	{
		Aggregation = value;

		await AggregationChanged.InvokeAsync(Aggregation);
	}

	private async Task ToggleExpanded()
	{
		Expanded = !Expanded;

		await ExpandedChanged.InvokeAsync(Expanded);
	}

	private string TimeRange =>
		Aggregation switch
		{
			ChartAggregation.Daily when !Expanded => "Past 2 weeks",
			ChartAggregation.Daily when Expanded => "Past 6 weeks",
			ChartAggregation.Monthly when !Expanded => "Past 12 months",
			ChartAggregation.Monthly when Expanded => "Past 3 years",
			_ => "All time",
		};

	private string ExpandableButtonClass => $"button-expandable {(Expanded ? "button-expanded" : "button-collapsed")}";
}