<div class="@Class">
	<MudText Inline="true" Typo="Typo" Color="Color.Primary" Style="font-family: monospace; margin-bottom: -0.4em;">
		<MudHighlighter Text="@Name" HighlightedText="@HighlightedText"></MudHighlighter>
	</MudText>
</div>

@code {

	[Parameter]
	public string Name { get; set; } = string.Empty;

	[Parameter]
	public Typo Typo { get; set; } = Typo.body2;

	[Parameter]
	public string HighlightedText { get; set; } = string.Empty;

	[Parameter]
	public string Class { get; set; } = string.Empty;
}